## Pandas-Series

##### Creating Series:

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creating series without index
# If index is not specified explicitely, then default numbered index is created
s=pd.Series(['Dog','Cow','Cat','Donkey'])
s

0       Dog
1       Cow
2       Cat
3    Donkey
dtype: object

In [3]:
#creating seris using lists , specifying the index
y=pd.Series(['Messi','Kohli','Nadal','Bolt'],index=['Football','Cricket','Tennis','Running'])
y

Football    Messi
Cricket     Kohli
Tennis      Nadal
Running      Bolt
dtype: object

In [6]:
#to get the list of index
y.index

Index(['Football', 'Cricket', 'Tennis', 'Running'], dtype='object')

In [7]:
# creating series using dictionary
# keys become the indices
dict1={'Samsung':'ONE UI','Redmi':'MIUI','Oneplus':'OxygenOS','Apple':'IOS'}
phone_ui=pd.Series(dict1)
phone_ui

Samsung      ONE UI
Redmi          MIUI
Oneplus    OxygenOS
Apple           IOS
dtype: object

In [8]:
# appending two series
x=phone_ui.append(y)
x

Samsung       ONE UI
Redmi           MIUI
Oneplus     OxygenOS
Apple            IOS
Football       Messi
Cricket        Kohli
Tennis         Nadal
Running         Bolt
dtype: object

##### Querying:

In [10]:
x['Samsung']

'ONE UI'

In [11]:
x.loc['Cricket']

'Kohli'

In [12]:
x.iloc[4]

'Messi'

In [13]:
# Creating bool map for querying
x=='Messi'

Samsung     False
Redmi       False
Oneplus     False
Apple       False
Football     True
Cricket     False
Tennis      False
Running     False
dtype: bool

In [14]:
# finding index

x[x=='Messi'] # Will return an object

Football    Messi
dtype: object

In [15]:
x[x=='Messi'].index[0] # Will return a string

'Football'